################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AESEncryption/bin/Debug/netcoreapp3.1
/AESEncryption/obj
/NodeAESEncryption/node_modules/@types/node
